.token
.token*
bin/
config.yaml
*tmp.json
CLAUDE.md
.claude
anilist-mal-sync
# Ignore token and config files
config.yaml
tokens/
token.json
*.token.json
# binaries
anilist-mal-sync.exe
anilist-mal-sync
